name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
          -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build and push Docker image
      run: |
        IMAGE_TAG=${GITHUB_SHA::7}
        docker build -t ilya1626/storage:${IMAGE_TAG} -t ilya1626/storage:latest .
        docker push ilya1626/storage:${IMAGE_TAG}
        docker push ilya1626/storage:latest
